<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--开启注解的扫描，，要扫描的是service和dao层的注解，要忽略web层注解，因为web层让SpringMVC框架去管理-->
    <context:component-scan base-package="com.lll.ecommerce">
        <!--配置要忽略的注解 -->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--spring 整合 mybatis-->
    <!--1、配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/e_commerce?serverTimezone=UTC&amp;useSSL=false"></property>
        <property name="user" value="root"></property>
        <property name="password" value="123456"></property>
    </bean>
    <!--2、配置SQLSessionFactory工厂. sqlSessionFactory工厂创建SqlSession对象，SqlSession对象生成dao层接口的代理类，该代理类就会被存入IOC容器-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <!--自动扫描 mapper.xml-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
    </bean>
    <!--3、配置dao接口所在的包,会自动扫描所有的dao接口-->
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.lll.ecommerce.dao"></property>
    </bean>

    <!--配置spring框架的声明式事务管理：insert、update、delete操作会涉及到事务-->
    <!--1、配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--2、配置事务通知-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="find*" read-only="true"/>    <!--find..开头的方法设置成 只读事务-->
            <tx:method name="*" isolation="DEFAULT"/>     <!--除了find开头的其他方法的 设置-->
        </tx:attributes>
    </tx:advice>
    <!--3、配置aop增强-->
    <aop:config>
        <!-- 配置切入点表达式-->
        <aop:pointcut id="ptAdvisor" expression="execution(* com.lll.ecommerce.service.*.*(..))"></aop:pointcut>
        <!--建立切入点表达式和事务通知的对应关系 -->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="ptAdvisor"></aop:advisor>
    </aop:config>
</beans>